.khan__buy-link {
  align-self: flex-start;
  text-decoration: none;
  font-size: 30px;
  line-height: 42px;
  color: #2f80ed;
  opacity: 1;
  transition: linear 0.5s;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: linear 1s;
}
